useDynLib(ClickClust)

importFrom("grDevices", "colorRampPalette", "dev.copy2pdf")
importFrom("graphics", "box", "lines", "par", "plot", "polygon", "text")
importFrom("stats", "median", "rmultinom", "runif")

export(click.EM)
export(click.sim)
export(click.read)
export(click.forward)
export(click.backward)
export(click.var)
export(click.plot)
export(click.predict)
export(click.predict)
export(print.EM) 
export(summary.EM)
export(print.search) 
export(summary.search) 

S3method(print, EM)
S3method(summary, EM)
S3method(print, search)
S3method(summary, search)
